<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.skh.springboot.mapper.MaxAndMinMapper">
    <select id="getAll" resultType="org.skh.springboot.bean.MaxAndMin">
        select * from maxandmin
    </select>
    <select id="getmax" resultType="org.skh.springboot.bean.MaxAndMin">
        select * from maxandmin order by maxp desc
    </select>
    <select id="getmin" resultType="org.skh.springboot.bean.MaxAndMin">
        select * from maxandmin order by minp desc
    </select>
</mapper>